* {
    font-family: 'Times New Roman', Times, serif;
}

.page {
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap:10%;
    height:100vh;
}

.input,.display,.genInfo,.editEducation,.newExperience,.editExperience,.add {
    display:flex;
    flex-direction: column;
}

.input {
    justify-content: space-evenly;
}

.display {
    aspect-ratio: 8.5/11;
    display:flex;
    justify-content: center;
    padding-top:1em;
    padding-bottom:1em;
}

.resume {
    border: 2px solid black;
    aspect-ratio: 8.5/11;
    padding:2em;
}

.add {
    margin-top:1em;
}

div,textarea {
    white-space: pre;
}

.genInfoDisplay {
    display:flex;
    flex-direction: column;
    text-align: center;
}

.emailnumber {
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.header {
    border-bottom:1px solid grey;
}

.educationItem {
    display:flex;
    flex-direction: column;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.date {
    display:flex;
    flex-direction: row;
}

.educationItem,.experienceItem {
    margin-top:0.5em;
}