.page {
    display:flex;
    flex-direction: row;
    height:100vh;
}

.input,.display,.genInfo,.newEducation,.editEducation,.newExperience,.editExperience {
    display:flex;
    flex-direction: column;
}

.input {
    justify-content: space-evenly;
}

.display {
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
}

.resume {
    width:70%;
    height:80%;
    align-self: center;
    text-align: center;
}